body{
    background-color: black;
}

/*div{
    border:1px solid white;
}*/
.img{
    height:170px;
    width:170px;
    margin-bottom: 10px;
}
.top_margin{
    margin-top: 25px;
}
.main_heading{
    font-weight: bold;
    color: antiquewhite;
    margin-top: 100px;
}
.heading{
    font-weight: bold;
    color: antiquewhite;
}
p{
    color:rgb(199, 199, 191);
}
.card_style{
    border:2px dashed maroon;
    background-color: black;
    padding-top:10px;
    color:white;
}
.card div{
    padding:10px;
}

